
.env.docker
.env
.env.*  # Covers .env.dev, .env.local etc.
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.log
*.pid
*.db
*.sqlite3
.ipynb_checkpoints/
.DS_Store
.vscode/
.code-workspace
htmlcov/
coverage.*
.cache
.tox/
.nox/
build/
dist/
*.egg-info/
.eggs/
.cache/
langchain.sqlite
*.spec
.mypy_cache/
.pyright/
*.out
*.checkpoint
node_modules/
*.lock
