version: '3.8'

services:
  neo4j:
    image: neo4j:5.21-community
    container_name: neo4j-lightrag
    restart: unless-stopped
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/${MY_PASSWORD}
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_server_memory_heap_initial__size: 2G
      NEO4J_server_memory_heap_max__size: 4G
      NEO4J_server_memory_pagecache_size: 1G
      NEO4J_apoc_export_file_enabled: true
      NEO4J_apoc_import_file_enabled: true
      NEO4J_apoc_import_file_use__neo4j__config: true
    volumes:
      - ./neo4j_data:/data
      - ./neo4j_logs:/logs
      - ./neo4j_import:/var/lib/neo4j/import
    networks:
      - lightrag-network

  lightrag:
    image: mylightrag:1.0
    container_name: lightrag-server
    restart: unless-stopped
    ports:
      - "9621:9621"
    environment:
      API_KEY: mykey
      WORKING_DIR: /app/data
      LLM_MODEL: qwen3:1.7b
      LLM_BINDING_HOST: http://host.docker.internal:11434
      LLM_TIMEOUT: 1200
      CHUNK_SIZE: 500

      EMBEDDING_BINDING: ollama
      EMBEDDING_MODEL: bge-m3:latest
      EMBEDDING_BATCH_NUM: 10
      EMBEDDING_DIM: 1024
      EMBEDDING_TIMEOUT: 300
      EMBEDDING_BINDING_HOST: http://host.docker.internal:11434

      LIGHTRAG_GRAPH_STORAGE: Neo4JStorage
      NEO4J_URI: bolt://neo4j-lightrag:7687
      NEO4J_USERNAME: neo4j
      NEO4J_PASSWORD: ${MY_PASSWORD}
      NEO4J_DATABASE: neo4j

      ENTITY_TYPES: '["question","concept","Quiz","Course"]'

      LOG_LEVEL: DEBUG
      LOG_DIR: /logs
    volumes:
      - ./lightrag_logs:/logs
      - ./lightrag_data:/app/data

    depends_on:
      - neo4j
    networks:
      - lightrag-network

networks:
  lightrag-network:
    driver: bridge